<h1>Find your puppy!</h1>
<div class="content">
<% @puppies.each do |puppy| %>
		<!-- <p>	<h3><a href="/puppies/<%= puppy.id%>"><%= puppy.name %></a></h3></p> -->
		<div class="panel panel-info aPup" style="width: 27%; float: left;">
            <div class="panel-heading">
              <h3 class="panel-title"><%= link_to puppy.name, puppy_path(puppy) %></h3>
            </div>
            <div class="panel-body">
              
              <img style="height: 245px;" src="<%= puppy.image %>" alt="">
             
            </div>
          </div>
<% end %>
</div>
